<button
  class="close"
  mat-icon-button
  color="black"
  aria-label="Example icon button with a home icon "
  [mat-dialog-close]="true"
>
  <mat-icon>close</mat-icon>
</button>
<button
  class="print"
  mat-icon-button
  color="black"
  (click)="printPage()"
  aria-label="Example icon button with a home icon"
>
  <mat-icon>print</mat-icon>
</button>
<h1>Dados do Proponente</h1>
<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome do proponente</th>
    <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="profissao">
    <th mat-header-cell *matHeaderCellDef>Profissão</th>
    <td mat-cell *matCellDef="let element">{{ element.profissao }}</td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let element">{{ element.cpf | mask: '000.000.000-99' }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
</table>
<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email do proponente</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="nascimento">
    <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
    <td mat-cell *matCellDef="let element">{{ element.nascimento }}</td>
  </ng-container>

  <ng-container matColumnDef="cep">
    <th mat-header-cell *matHeaderCellDef>cep</th>
    <td mat-cell *matCellDef="let element">{{ element.cep | mask: '00000-000'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
</table>
<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="celular">
    <th mat-header-cell *matHeaderCellDef>Celular</th>
    <td mat-cell *matCellDef="let element">{{ element.celular | mask: '(00) 00000-0000'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
</table>

<h1>Dados do Imovel</h1>

<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="imovel">
    <th mat-header-cell *matHeaderCellDef>Tipo do imovel</th>
    <td mat-cell *matCellDef="let element">{{ element.imovel }}</td>
  </ng-container>
  <ng-container matColumnDef="renda">
    <th mat-header-cell *matHeaderCellDef>Renda mensal</th>
    <td mat-cell *matCellDef="let element">R$ {{ element.renda | mask: 'separator':','}}</td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor do imovel</th>
    <td mat-cell *matCellDef="let element">R$ {{ element.valor | mask: 'separator':','}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
</table>

<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="entrada">
    <th mat-header-cell *matHeaderCellDef>Valor da entrada</th>
    <td mat-cell *matCellDef="let element">R$ {{ element.entrada | mask: 'separator':',' }}</td>
  </ng-container>
  <ng-container matColumnDef="parcelas">
    <th mat-header-cell *matHeaderCellDef>Número de parcelas</th>
    <td mat-cell *matCellDef="let element">{{ element.parcelas }}</td>
  </ng-container>
  <ng-container matColumnDef="vazio1">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns5"></tr>
</table>

<h1>Dados do financiamento</h1>
<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="taxa">
    <th mat-header-cell *matHeaderCellDef>Taxa ao ano</th>
    <td mat-cell *matCellDef="let element">{{ element.taxa }}</td>
  </ng-container>

  <ng-container matColumnDef="passarValorTotal">
    <th mat-header-cell *matHeaderCellDef>Valor total financiado</th>
    <td mat-cell *matCellDef="let element">{{ element.passarValorTotal }}</td>
  </ng-container>
  <ng-container matColumnDef="juros">
    <th mat-header-cell *matHeaderCellDef>Valor total com juros</th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns6"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns6"></tr>
</table>

<table mat-table [dataSource]="listaHistorico">
  <ng-container matColumnDef="passarParcela">
    <th mat-header-cell *matHeaderCellDef>Valor da primeira parcela</th>
    <td mat-cell *matCellDef="let element">{{ element.passarParcela }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>
  <ng-container matColumnDef="vazio2">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns7"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns7"></tr>
</table>
