<header>
  <nav class="navbar">
      <img class="logo_no_header" src="../assets/images/logo.png">
      <ul *ngIf="toggle" class="links_do_menu">
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a class="botao_login" href="#">Login</a></li>
      </ul>
      <button class ="aperteMenu">
          <img  src="https://img.icons8.com/android/24/000000/menu.png" (click)="toggleClick()">
      </button>
  </nav>
</header>
