.loguinho {
    padding: 0px 30px;
}
.btn-hist {
    position: fixed;
    right: 1rem;
    color: blue;
}
@media (max-width: 600px) {
    
    h1 {
        font-size: 0.8em;
        text-align: center;
    }

    .loguinho {
        padding: 0px;
    }

    .toolbar {
        display: flex;
        flex-direction: column;
        height: auto;
    }

}

