<mat-card class="reprovado">
  <mat-card-header>
    <mat-card-title>
      <h2>Reprovado</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="full-width">
      <div class="full-width">
        <p class="proposta">Proposta Nº 00001</p>
        <br />
        <img
          aria-hidden="true"
          src="../../../assets/reproved.png"
          alt=""
        /><br />
        <p class="status">STATUS: REPROVADO</p>
        <br />
      </div>
      <hr aria-hidden="true" class="width60" />
      <div class="full-width">
        <p class="lista">
          Infelizmente não foi possível aprovar seu financiamento.<br />
          Não desanime, reunimos algumas dicas que podem ajudar na sua próxima
          simulação:
        </p>
        <ul class="lista">
          <li><p>• Mantenha seu CPF em dia e sem restrições.</p></li>
          <li>
            <p>• Dados de endereço, e-mail, telefone sempre atualizados.</p>
          </li>
          <li>
            <p>
              • Melhore seu relacionamento com o banco, movimentando sua conta
            </p>
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="botoes">
      <button mat-raised-button color="primary" [routerLink]="['/inicio']">
        IR PARA A TELA INICIAL
      </button>
    </div>
  </mat-card-actions>
</mat-card>
