<h1 mat-dialog-title>Você realmente deseja deletar essa proposta ?</h1>
<div mat-dialog-content>
  Propostas deletadas não poderão ser mais visualizadas, esse procedimento não é
  reverssível.
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="openDelete()">ok</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>

<!-- 
{
  "imovel": "residencial",
  "renda": "8000.00",
  "valor": "250000.00",
  "entrada": "100000.00",
  "parcelas": 360,
  "passarParcela": "813,00teste",
  "status": "Aprovado",
  "passarValorTotal": "1000,00teste",
  "nome": "ANDRE AKIO HAMADA",
  "profissao": "teste teste",
  "cpf": "11111111111",
  "email": "andre.akio.hamada@gmail.com",
  "nascimento": "1987-08-17",
  "celular": "11111111111",
  "cep": "09230530",
  "data": "2022-07-22T18:42:01.373Z",
  "id": 1
} -->