header {
	background: #ffffff;
	top: 10%;
	
	
}
li {
	line-height: 1.8;
	position: center;
}
body{
	background-image: url("background2.jpg");
	background-size: 800px 800px;
	background-repeat: no-repeat;
}
nav {
	position: absolute;
	top: 110px;
	right: 15%;
	font-family: sans-serif;
	
}
nav li {
	display: inline;
	margin: 0 0 0 30px;
	text-transform: uppercase;
	color: #993399;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	
}

nav a {
	text-transform: uppercase;
	color: #993399;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	border: 2px solid #993399;
	border-radius: 20px;
	background-color:rgb(238, 78, 238);
	padding: 10px;
}

div {
    top:100px;
	left:800px;
    position: relative;
	padding-right: 80%;
	
}
h1 {
	font-size: 48px;
	color: #7a157a;
	font-family: Verdana;
	
	
}

p{
	font-size: 22px;
	color: #8b088b;
	font-family: 'Courier New';
	
}

form {
	margin: 200px 0;
}
.contato{
	font-size: 110px;
}
form input {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
}
.email{
	content: 'Some';
}
@media screen and (max-width: 480px) {
	nav, form, div {
		width:80%;
		size: 100%;
	}
	header{
		position: relative;
		
	}
	nav, div {
		position: relative;
		left: 50%;
	}
	.imagem{
		width: 100%;
	}
	.contato{
		size: 100%;
	}
}